.contact-page {
    padding: 50px;
    text-align: center;
  }
  .contact-page h2 {
    font-size: 2.5rem;
    color: #3c6ae7;
  }
  .contact-page p {
    font-size: 1.2rem;
    color: #555;
  }
.contact-page-content{
    padding: 50px;
    text-align: center;
    border: 2px solid #f9f5f5;
    margin: 0 252px;
}